<div class="loginContainer ">
    <div class="loginForm changePassword">
        <h2>Change Password!</h2>
        <p>{{ username }}</p>
        <form class="form" name="frmLogin" ng-submit="updateUser({Email: username, Password: tempUser.passwordOne})" novalidate>
            <input type="password" ng-model="tempUser.passwordOne" class="" placeholder="Enter password" name="passwordOne" ng-minlength="7">
            <input type="password" ng-model="tempUser.passwordTwo" class="" placeholder="Verify password" name="passwordTwo" ng-minlength="7">
            <span class="text-danger" ng-show="(frmLogin.passwordOne.$touched || frmLogin.passwordOne.$dirty || frmLogin.passwordTwo.$touched
                  || frmLogin.passwordTwo.$dirty) && (frmLogin.passwordOne.$invalid || frmLogin.passwordTwo.$invalid)
                  || (tempUser.passwordOne != tempUser.passwordTwo)">
                <span ng-show="(tempUser.passwordOne != tempUser.passwordTwo) && !frmLogin.passwordOne.$error.minlength
                      && !frmLogin.passwordTwo.$error.minlength">Passwords must match.</span>
                <span ng-show="frmLogin.passwordOne.$error.minlength || frmLogin.passwordTwo.$error.minlength">Password too short.</span>
            </span>
            <button ng-disabled="frmLogin.$invalid || frmLogin.$pristine " type="submit" class="btn btn-primary">Change</button>
        </form>
    </div>
</div>