<div class="welcomeContainer row">
    <div class="col header">
        <h1 class="welcome">Welcome to</h1>
        <h1 class="scoreKeep">Keep Score!</h1>
        <a href=""><p class="learnMore">Learn More...</p></a>
    </div>
    <div class="col details">
        <p>
            This is Keep Score. It is designed to help <br>
            anyone and everybody keep track of scores for <br>
            all kinds of things. Login / Sign Up and try it out!
        </p>

        <div class="whatNext">
            <div class="doNext" ng-show="!signedIn">
                <p class="accountDetails">Don't have an account?</p>
                <a href="signup"><button type="button" class="btn btn-danger">Sign Up</button></a>
            </div>
            <div class="doNext" ng-show="!signedIn">
                <p class="accountDetails">Have an account?</p>
                <a href="login"><button type="button" class="btn btn-dark">Login</button></a>
            </div>
            <div class="doNext" ng-show="signedIn">
                <p class="accountDetails">Like what you see?</p>
                <a href="login"><button type="button" class="btn btn-primary">Contact</button></a>
            </div>
            <div class="doNext" ng-show="signedIn">
                <p class="accountDetails">Learn more.</p>
                <a href="login"><button type="button" class="btn btn-dark">Learn More</button></a>
            </div>
        </div>

    </div>

    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
    </svg>

</div>